@model Teacher

<div class="container">
	<form asp-action="update" asp-controller="teacher" method="post" enctype="multipart/form-data">
	<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

		<div class="form-group">
			<label asp-for="@Model.FullName">FullName:</label>
			<input type="text" class="form-control" asp-for="@Model.FullName" />
			<span class="alert-danger" asp-validation-for="FullName"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.FormFile">File:</label>
			<input type="file" class="form-control" asp-for="@Model.FormFile" />
			<span class="alert-danger" asp-validation-for="FormFile"></span>

		</div>
		<div class="form-group">
			<label asp-for="@Model.Description">Description:</label>
			<input type="text" class="form-control" asp-for="@Model.Description" />
			<span class="alert-danger" asp-validation-for="Description"></span>

		</div>

		<div class="form-group">
			<label asp-for="@Model.Degree">Degree:</label>
			<input type="text" class="form-control" asp-for="@Model.Degree" />
			<span class="alert-danger" asp-validation-for="Degree"></span>

		</div>
		<div class="form-group">
			<label asp-for="@Model.Experience">Experience:</label>
			<input type="number" class="form-control" asp-for="@Model.Experience" />
			<span class="alert-danger" asp-validation-for="Experience"></span>

		</div>
		<div class="form-group">
			<label asp-for="@Model.Hobbies">Hobbies:</label>
			<input type="text" class="form-control" asp-for="@Model.Hobbies" />
			<span class="alert-danger" asp-validation-for="Hobbies"></span>
		</div>
		<div class="form-group">
			<select asp-for="FacultyId" class="form-select" aria-label="Default select example">
				<option selected>Choose Faculty</option>
				@foreach (var item in ViewBag.Faculties)
				{
					<option value="@item.Id">@item.Name</option>

				}
			</select>
			<span class="alert-danger" asp-validation-for="FacultyId"></span>

		</div>
		<div class="form-group">
			<select asp-for="PositionId" class="form-select" aria-label="Default select example">
				<option selected>Choose Position</option>
				@foreach (var item in ViewBag.Positions)
				{
					<option value="@item.Id">@item.Name</option>

				}
			</select>
			<span class="alert-danger" asp-validation-for="PositionId"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Mail">Mail:</label>
			<input type="email" class="form-control" asp-for="@Model.Mail" />
			<span class="alert-danger" asp-validation-for="Mail"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Phone">Phone:</label>
			<input type="text" class="form-control" asp-for="@Model.Phone" />
			<span class="alert-danger" asp-validation-for="Phone"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Skype">Skype:</label>
			<input type="text" class="form-control" asp-for="@Model.Skype" />
			<span class="alert-danger" asp-validation-for="Skype"></span>
		</div>
		<img style="width:100px;height:100px" src="~/assets/img/teacher/@Model.Image" />
		@Html.AntiForgeryToken()
		<button type="submit">Update</button>
	</form>
</div>